<%- include('header'); -%>


        <main class="px-3">
            <h1 class="content-heading">What Do You Want To Learn Today ?</h1>
            <p class="lead my-lead-class"> Web Development, App Development, Programming Languages....... </p>
            <p class="lead">
                <button type="button" class="btn btn-outline-primary my-btn-class">Browse</button>
            </p>
            <p class="lead">
                <button type="button" class="btn btn-outline-danger my-btn-class">Sign-Up</button>
            </p>
        </main>

<%- include('footer'); -%>
