<%- include('header'); -%>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 id="main-heading" class="float-md-start mb-0">PIRATES BAY</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                    <a class="nav-link" href="#">LOGIN</a>
                    <a class="nav-link" href="#">CONTACT</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1 class="content-heading">What Do You Want To Learn Today ?</h1>
            <p class="lead my-lead-class"> Web Development, App Development, Programming Languages....... </p>
            <p class="lead">
                <button type="button" class="btn btn-outline-primary my-btn-class">Browse</button>
            </p>
            <p class="lead">
                <button type="button" class="btn btn-outline-danger my-btn-class">Sign-Up</button>
            </p>
        </main>

<%- include('footer'); -%>
