/* HomePage Styles */

#main-heading a {
    text-decoration: none;
    color: white;
}

#main-heading a:hover{
    cursor: pointer;
    color: blueviolet;
}

.content-heading {
    font-family: 'McLaren', cursive;
}

.my-lead-class {
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
    color: darkviolet;
}

.my-btn-class {
    width: 200px;
    font-family: 'Acme', sans-serif;
}



/* Resources Styles  */

.resource-heading {
    color: rgb(177, 31, 209);
    text-shadow: 2px 2px #2674d3;
}

.resource-paragraph {
    font-family: 'Comfortaa', cursive;
    color: lightgoldenrodyellow;
}

.my-black-color {
    color: black;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 11px;
}

.my-margin {
    margin-top: 45px;
    margin-bottom: 45px;
}